
@model Product

<html>
<head>
    <script src="~/addPosterAlert.js"></script>
 </head>
<body>
    <form asp-action="AddProductToStore" asp-controller="Product" method="post" enctype="multipart/form-data">
        <div>
            <input type="hidden" asp-for="ProductId" />
        </div>
        <div>
            <label asp-for="Title">
            </label>
            <input asp-for="Title" class="form-control" />
        </div>
        <br />
        <div>
            <label asp-for="Price">
            </label>
            <input asp-for="Price" class="form-control" />
        </div>
        <br />
        <div>
            <label asp-for="ShortDescription">
            </label>
            <input asp-for="ShortDescription" class="form-control" />
        </div>
        <br />
        <div>
            <label asp-for="LongDescription">
            </label>
            <input asp-for="LongDescription" class="form-control" />
        </div>
        <br />
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="pic1" id="customFile">
            <label class="custom-file-label" for="customFile">Choose Image</label>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="pic2" id="customFile">
            <label class="custom-file-label" for="customFile">Choose Image</label>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="pic3" id="customFile">
            <label class="custom-file-label" for="customFile">Choose Image</label>
        </div>
        <br />
        <input type="submit" value="Add"/>
        <div asp-validation-summary="All"></div>
    </form>
    
   
</body>
</html>